<app-admin-navbar></app-admin-navbar>
<div class="container text-white ">
    <div class="row g-3 mt-3">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Search Security</label>
            <input type="text" class="form-control" name="search" [(ngModel)]="search">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
            <button class="btn btn-primary" (click)="readValue()">Search</button>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12 {{style}} justify-content-center ">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png"  class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8  "  >
                        <div class="card-body text-black" >
                            <h5 class="card-title">{{fetchedData.secName}}</h5>
                            <p class="card-text">
                                <br> Security Id {{fetchedData.secID}}<br>
                                <br>Email {{fetchedData.mail}}<br>
                                <br>Phone {{fetchedData.phone}}<br> 
                            </p>
                        </div>
                    </div>
                    <div><button class="btn btn-danger" (click)="deletesec()">Delete</button></div>
                </div>
                    </div>
                </div>
            </div>
        </div>
