<app-admin-navbar></app-admin-navbar>
<div class="container mt-3">
    <div class="row g-3">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12 text-white">
            <label for="" class="form-label">Delete Employee</label>
            <input type="text" class="form-control" name="delete" [(ngModel)]="delete">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
            <button class="btn btn-primary" (click)="readValue()">Search</button>
        </div>
    </div>
</div>